<!DOCTYPE html>
<html>
  <head>
    <title>Harvest Log</title>
    <%= EEx.eval_file("templates/common_style.html") %>
  </head>
  <body>
    <h1>Harvest Log</h1>
    <ul>
      <%= for msg <- messages do %>
        <li><%= msg %></li>
    <% end %>
    </ul>
  <a href="status">See status</a>
  </body>
</html>
